@font-face {
  font-family: PoppinsMedium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/Avenir-Medium.woff2);
}
/*==================HEADER===================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 30, 34, 0.3647058824);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger {
  display: none;
}

.header {
  background-color: #D7F5DC;
  padding-top: 25px;
  padding-bottom: 35px;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 67px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header__menu a {
  font-family: PoppinsMedium;
  line-height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}
.header__menu a:first-child {
  margin-right: 10px;
}
.header__menu a:first-child::after {
  display: block;
  position: absolute;
  content: "";
  background: url(../img/butttons/Vector.png);
  top: 7px;
  left: 74px;
  width: 18.57px;
  height: 10px;
}

.header__menu-btn {
  font-family: PoppinsMedium;
  line-height: 24px;
  padding: 10px 25px 10px 25px;
  background-color: #D7F5DC;
  border: 2px solid #20B15A;
  border-radius: 10px;
}
.header__menu-btn:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__menu-btnwhite {
  font-family: PoppinsMedium;
  line-height: 24px;
  color: #fff;
  padding: 10px 19.5px 10px 19.5px;
  background-color: #20B15A;
  border-radius: 10px;
}
.header__menu-btnwhite:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.content__title {
  font-family: PoppinsMedium;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
}

.content__text {
  font-family: AvenirMedium;
  font-size: 20px;
  line-height: 27.32px;
}

.content__btn {
  margin-top: 27px;
  font-family: PoppinsMedium;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 30px 20px 30px;
  max-width: 175px;
  color: #fff;
  background-color: #20B15A;
  border-radius: 16px;
}
.content__btn:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__bottom-img {
  position: relative;
}
.header__bottom-img::after {
  position: absolute;
  content: "";
  display: block;
  background: url(../img/elements/header-elements.png);
  top: 0;
  right: 142px;
  width: 555.14px;
  height: 488.45px;
}

.header__footer {
  background-color: #F8FFF9;
  padding-top: 44px;
  padding-bottom: 44px;
}

.header__footer-logos {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*====================MAIN==========================================================*/
/*====================MAIN__we==========================================================*/
.main__we {
  padding-top: 67px;
}

.we__top-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

.heading__title {
  font-family: PoppinsMedium;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #20B15A;
}

.heading__text {
  font-family: PoppinsMedium;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
}

.we__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 122.33px;
  gap: 90px;
}
.we__top-content button {
  max-width: 94px;
  padding: 30px;
  background-color: #D7F5DC;
  border-radius: 20px;
}
.we__top-content h2 {
  font-family: PoppinsMedium;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.we__top-content p {
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.content__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 50px 50px 73px 30px;
}
.content__one a {
  margin-top: 43px;
  max-width: 150px;
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.content__one a img {
  margin-top: 4px;
  margin-left: 3px;
}

.content__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 50px 40px 73px 30px;
}
.content__two button {
  max-width: 94px;
  padding: 30px;
  background-color: #D7F5DC;
  border-radius: 20px;
}
.content__two a {
  margin-top: 43px;
  max-width: 150px;
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: #fff;
}
.content__two a img {
  margin-top: 4px;
  margin-left: 6px;
}

.content__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 50px 2px 73px 5px;
}
.content__three button {
  max-width: 94px;
  padding: 30px;
  background-color: #D7F5DC;
  border-radius: 20px;
}
.content__three a {
  margin-top: 43px;
  max-width: 150px;
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: #fff;
}
.content__three a img {
  margin-top: 4px;
  margin-left: 6px;
}

.we__bottom {
  background-color: #FAFFFB;
}

.we__bottom-content {
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
}
.content__box p {
  font-family: PoppinsMedium;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.content__box span {
  margin-top: 5px;
  font-family: AvenirMedium;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  color: #20B15A;
}
.content__box::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #DFE1DF;
  height: 250px;
  width: 1px;
  bottom: -23%;
  left: 130%;
}
.content__box:last-child::after {
  display: none;
}

/*===============PORTFOLIO===========================================================*/
.main__portfolio {
  padding-top: 78px;
  padding-bottom: 196px;
}

.portfolio__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  max-width: 500px;
  padding-bottom: 73px;
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 95px;
}
.portfolio__content h2 {
  font-family: PoppinsMedium;
  font-size: 23px;
  font-weight: 600;
  line-height: 34px;
  margin-top: 42px;
}
.portfolio__content p {
  font-family: AvenirMedium;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 14px;
}

.content__oneclmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 95px;
}

.content__twoclmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 95px;
}

/*================TESTIMONIALS=================================================*/
.main__testimonials {
  padding-bottom: 40px;
}

.testimonials__section-heading {
  padding-bottom: 96px;
  position: relative;
}
.testimonials__section-heading .heading__title {
  margin-bottom: 24px;
}

.heading__arrows {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 53px;
}
.heading__arrows button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.heading__arrows button:hover {
  width: 60px;
  height: 60px;
  border-radius: 35px;
  border: 0px;
  background-color: #D7F5DC;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__item {
  margin-right: 45px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px;
  width: 480px !important;
  height: 260px !important;
}
.slider__item:last-child {
  margin-right: 0px;
}

.slick-track {
  height: 500px;
}

.slider__item-text {
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.slick-slide .slider__item-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slick-slide .slider__item-customer button {
  width: 20px;
  height: 20px;
}
.slick-slide .slider__item-customer p {
  font-family: PoppinsMedium;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.slick-slide .slider__item-customer span {
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

/*================SUBSCRIBE===================================================*/
.main__subscribe {
  padding-bottom: 160px;
}

.subscribe__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__section-heading .heading__subtitle {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-top: 22px;
  margin-bottom: 5px;
}

.heading__text {
  font-family: AvenirMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #8B8B8B;
  margin-bottom: 40px;
}

.subscribe__section-form {
  position: relative;
}
.subscribe__section-form input {
  padding: 20px 408px 20px 16px;
  border: 1.5px solid black;
  border-radius: 14px;
  font-family: AvenirMedium;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.subscribe__section-form button {
  position: absolute;
  top: 7px;
  right: 6px;
  width: 130.65px;
  height: 52.7px;
  background-color: #F55F1D;
  border-radius: 14px;
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16.2164px;
  line-height: 24px;
  color: #fff;
}

/*======================================================*/
.footer {
  background-color: #00CA72;
}

.footer__section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 261px;
}

.main {
  padding-top: 70px;
  padding-bottom: 100px;
}

.main__row-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 328px;
}

.logo__title {
  font-family: PoppinsMedium;
  font-size: 39px;
  font-weight: 700;
  line-height: 59px;
}

.logo__text {
  font-family: AvenirMedium;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.logo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.logo__links button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #20B15A;
}

.main__row-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 114px;
}
.main__row-links a {
  font-family: AvenirMedium;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 25px;
}
.main__row-links a:last-child {
  margin-bottom: 0px;
}

.link__title {
  font-family: PoppinsMedium;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
  margin-bottom: 16px;
}

.main__row-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
  max-width: 258px;
}

.address__title {
  font-family: PoppinsMedium;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.address__text {
  font-family: AvenirMedium;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.footer__section-copy {
  font-family: AvenirMedium;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  padding-bottom: 29px;
}

/*=====================MEDIA=============================================*/
@media (max-width: 1100px) {
  .content__one {
    gap: 24px;
  }
  .content__oneclmn img {
    width: 460px;
  }
  .content__twoclmn img {
    width: 450px;
  }
  .portfolio__content {
    gap: 44px;
  }
  .portfolio__heading {
    padding-bottom: 0px;
  }
}
/*=====================990px=============================================*/
@media (max-width: 990px) {
  .header__bottom-content .content__title {
    font-size: 42px;
  }
  .header__bottom-content .content__text {
    font-size: 17px;
  }
  .header__bottom-img {
    display: none;
  }
  .header__bottom {
    margin-bottom: 20px;
  }
  .header__top {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 800px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
    z-index: 8;
    position: fixed;
  }
  .header__menu a:first-child::after {
    display: none;
  }
  .header__logo {
    margin-top: 100px;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .header__menu .header__menu-btn {
    max-width: 140px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__menu .header__menu-btnwhite {
    max-width: 140px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    height: 100%;
  }
  .burger {
    display: block;
    position: fixed;
    z-index: 11;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #20B15A;
    right: 27px;
    top: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .burger span {
    height: 3px;
    width: 40px;
    top: 22px;
    right: 4px;
    background-color: black;
    position: absolute;
  }
  .burger span::after {
    position: absolute;
    display: block;
    content: "";
    top: -10px;
    right: 0px;
    height: 3px;
    width: 40px;
    background-color: black;
  }
  .burger span::before {
    display: block;
    content: "";
    top: 10px;
    right: 0px;
    position: absolute;
    height: 3px;
    width: 40px;
    background-color: black;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .header__footer-logos {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
  .we__top-content {
    gap: 20px;
    padding-bottom: 0px;
  }
  .portfolio__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
  }
  .heading__arrows {
    right: 140px;
  }
  .footer__section-main {
    gap: 80px;
  }
}
/*===========790px=========================================*/
@media (max-width: 790px) {
  .header__bottom-content .content__title {
    font-size: 36px;
  }
  .header__bottom-content .content__text {
    font-size: 16px;
  }
  .content__btn {
    font-size: 19px;
    padding: 18px 20px 18px 20px;
  }
  .we__top-content h2 {
    font-size: 22px;
  }
  .we__top-content p {
    font-size: 16px;
  }
  .content__one .content__two .content__three button {
    padding: 25px;
  }
  .we__top-content button {
    padding: 25px;
  }
  .content__box img {
    width: 60px;
    height: 60px;
  }
  .content__box span {
    font-size: 35px;
  }
  .content__box p {
    text-align: center;
  }
  .we__bottom-content {
    gap: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
/*==============680px============================================*/
@media (max-width: 680px) {
  .header__bottom-content .content__title {
    font-size: 30px;
  }
  .content__btn {
    font-size: 18px;
    padding: 10px 15px 10px 15px;
  }
  .header__footer-logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header__footer-logos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__footer-logos > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .header__footer-logos > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .header__footer-logos > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .header__footer-logos > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .header__footer-logos > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .we__top-content {
    gap: 15px;
  }
  .content__one {
    padding: 50px 50px 50px 30px;
  }
  .content__two {
    padding: 50px 50px 50px 30px;
  }
  .content__three {
    padding: 50px 2px 50px 5px;
    gap: 3px;
  }
  .content__box p {
    font-size: 14px;
  }
  .content__box span {
    font-size: 28px;
  }
}
/*====================660px========================================*/
@media (max-width: 660px) {
  .content__two {
    gap: 3px;
  }
  .subscribe__section-heading .heading__subtitle {
    font-size: 26px;
  }
  .subscribe__section-heading .heading__text {
    font-size: 15px;
  }
  .subscribe__section-form input {
    padding: 20px 230px 20px 16px;
  }
  .subscribe__section-form button {
    width: 119px;
    height: 49px;
  }
  .logo__title {
    font-size: 36px;
  }
  .logo__text {
    font-size: 17px;
  }
  .logo__links {
    gap: 10px;
  }
  .link__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .address__title {
    font-size: 18px;
  }
  .main__row-logo {
    max-width: 230px;
  }
  .footer__section-main {
    gap: 60px;
  }
}
/*====================590px=========================================*/
@media (max-width: 590px) {
  .header__footer-logos {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .header__footer-logos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__footer-logos > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .header__footer-logos > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .header__footer-logos > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .header__footer-logos > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header__footer-logos > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .header__bottom-content .content__title {
    font-size: 23px;
    line-height: 40px;
  }
  .we__top-heading {
    padding-bottom: 0px;
  }
  .we__top-content button {
    padding: 17px;
    max-width: 77px;
  }
  .content__one a {
    font-size: 13px;
    -webkit-text-decoration: underline #00CA72;
            text-decoration: underline #00CA72;
  }
  .content__two a {
    font-size: 13px;
    -webkit-text-decoration: underline #00CA72;
            text-decoration: underline #00CA72;
  }
  .content__three a {
    font-size: 13px;
    -webkit-text-decoration: underline #00CA72;
            text-decoration: underline #00CA72;
  }
  .content__one a img {
    display: none;
  }
  .content__two a img {
    display: none;
  }
  .content__three a img {
    display: none;
  }
  .portfolio__heading {
    padding-bottom: 0px;
  }
  .content__oneclmn img {
    width: 400px;
  }
  .content__twoclmn img {
    width: 400px;
  }
  .portfolio__content h2 {
    margin-top: 10px;
  }
  .content__oneclmn {
    gap: 30px;
  }
  .content__twoclmn {
    gap: 30px;
  }
  .main__testimonials {
    padding-bottom: 0px;
  }
  .testimonials__section-heading {
    padding-bottom: 0px;
  }
  .testimonials__section-heading .heading__title {
    margin-bottom: 10px;
  }
  .subscribe__section-heading .heading__subtitle {
    margin-top: 5px;
    font-size: 20px;
  }
  .footer__section-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .footer__section-main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__section-main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
/*============570px=============================*/
@media (max-width: 570px) {
  .content__one {
    gap: 3px;
  }
  .content__box p {
    font-size: 12px;
  }
  .content__box img {
    width: 50px;
    height: 50px;
  }
  .content__box span {
    font-size: 26px;
  }
}
/*============540px=============================*/
@media (max-width: 540px) {
  .we__top-content {
    gap: 0px;
  }
  .we__top-content button {
    padding: 12px;
    max-width: 64px;
  }
  .we__top-content h2 {
    font-size: 14px;
    line-height: 24px;
  }
  .content__one {
    padding: 20px 20px 30px 20px;
    gap: 11px;
  }
  .content__two {
    padding: 20px 20px 30px 20px;
  }
  .content__three {
    padding: 20px 2px 12px 5px;
  }
  .content__box img {
    width: 40px;
    height: 40px;
  }
  .content__box span {
    font-size: 20px;
  }
  .header {
    padding-bottom: 0px;
  }
  .header__footer {
    padding-bottom: 0px;
  }
  .main__we {
    padding-top: 0px;
  }
}
/*==============530px==========================================*/
@media (max-width: 530px) {
  .content__one {
    gap: 3px;
  }
  .slider__item {
    padding: 20px;
    width: 454px !important;
    height: 230px !important;
  }
  .subscribe__section-form input {
    padding: 20px 200px 20px 16px;
  }
  .main__subscribe {
    padding-bottom: 0px;
  }
}
/*================520px======================================*/
@media (max-width: 520px) {
  .content__box span {
    font-size: 17px;
  }
  .we__top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__one a {
    margin-top: 0px;
  }
  .content__two a {
    margin-top: 0px;
  }
  .content__three a {
    margin-top: 0px;
  }
  .content__three {
    padding: 20px 2px 12px 20px;
  }
  .we__bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding-top: 5px;
  }
  .content__box {
    gap: 0px;
  }
  .heading__arrows {
    display: none;
  }
  .slider__item {
    width: 382px !important;
  }
}
/*=====================430px===============================*/
@media (max-width: 430px) {
  .subscribe__section-heading .heading__subtitle {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .subscribe__section {
    padding-top: 50px;
  }
  .subscribe__section-heading .heading__text {
    text-align: center;
    margin-bottom: 28px;
  }
  .subscribe__section-form button {
    font-size: 12px;
  }
  .subscribe__section-form input {
    padding: 20px 152px 20px 10px;
  }
  .subscribe__section-form button {
    width: 107px;
    height: 43px;
    top: 10px;
  }
  .slider__item-text {
    font-size: 14px;
  }
  .slick-slide .slider__item-customer p {
    font-size: 17px;
  }
  .slick-slide .slider__item-customer span {
    font-size: 15px;
  }
  .slider__item {
    padding: 15px;
    height: 205px !important;
    width: 281px !important;
  }
  .content__oneclmn img {
    width: 300px;
  }
  .content__twoclmn img {
    width: 300px;
  }
  .testimonials__section-slider .slider {
    height: 500px;
  }
  .header__top {
    left: 0px;
  }
  .header__logo {
    text-align: center;
  }
}
/*===============390px=================================================*/
@media (max-width: 390px) {
  .footer__section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address__title {
    text-align: center;
  }
}
/*===============360px===========================================*/
@media (max-width: 360px) {
  .header__footer-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__section-heading .heading__subtitle {
    line-height: 27px;
    text-align: center;
  }
  .subscribe__section-form input {
    padding: 15px 92px 15px 7px;
  }
  .subscribe__section-form button {
    width: 84px;
    height: 39px;
    top: 7px;
  }
}